@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes floatSlow {
  0% {
    transform: translateY(0px) rotate(-6deg);
  }
  50% {
    transform: translateY(-16px) rotate(2deg);
  }
  100% {
    transform: translateY(0px) rotate(-6deg);
  }
}

@keyframes floatSlowReverse {
  0% {
    transform: translateY(0px) rotate(5deg);
  }
  50% {
    transform: translateY(18px) rotate(-3deg);
  }
  100% {
    transform: translateY(0px) rotate(5deg);
  }
}

.floating-item-0 {
  top: 14%;
  left: 8%;
  animation: floatSlow 8s ease-in-out infinite;
}

.floating-item-1 {
  top: 20%;
  right: 12%;
  animation: floatSlowReverse 9s ease-in-out infinite;
}

.floating-item-2 {
  bottom: 18%;
  left: 10%;
  animation: floatSlow 7s ease-in-out infinite;
}

.floating-item-3 {
  bottom: 12%;
  right: 14%;
  animation: floatSlowReverse 10s ease-in-out infinite;
}

.floating-item-4 {
  top: 50%;
  left: 4%;
  animation: floatSlowReverse 11s ease-in-out infinite;
}

.floating-item-5 {
  top: 45%;
  right: 5%;
  animation: floatSlow 8s ease-in-out infinite;
}

.floating-item-6 {
  top: 8%;
  left: 42%;
  animation: floatSlow 12s ease-in-out infinite;
}

.floating-item-7 {
  bottom: 8%;
  left: 38%;
  animation: floatSlowReverse 8s ease-in-out infinite;
}

.floating-item-8 {
  top: 30%;
  left: 24%;
  animation: floatSlow 10s ease-in-out infinite;
}

.floating-item-9 {
  bottom: 28%;
  right: 28%;
  animation: floatSlowReverse 9s ease-in-out infinite;
}

